@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.we {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-left: 118px;
  padding-right: 118px;
  padding-top: 39px;
  padding-bottom: 39px;
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 1440px;
  height: 100px;
  text-align: center;
  align-items: center;
}

.header1 {
  width: 392px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  height: 22px;
  font-family: "Inter";
  font-weight: 600;
  font-style: "Semi Bold";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: capitalize;
}
.header h1 {
  font-family: "Inter";
  font-weight: 600;
  font-style: "Semi Bold";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 24px;
  display: flex;
}

.omg {
  background-image: url("./imgs/HeroImage.png");
  background-size: cover;
  width: 1440px;
  height: 773px;
  opacity: 1;
}

.gg {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 210px;
}

.lom {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: "Regular";
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;

  color: #e8edf2b8;
}

.gg1 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: "Regular";
  font-size: 250px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #fff;

  -webkit-text-stroke: 4px #fff;
}

.lam {
  color: #ffffffcc;
  font-family: "Hanuman";
  font-weight: 900;
  font-style: Black;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

/* GL */

.sd {
  background-image: url(./imgs/Location\ image.png);
  background-size: cover;
  height: 500px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 110px;
  padding-top: 65px;
}

.ttl {
  background-image: url(./imgs/1.png);
}

.over {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.over:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.am {
  background-image: url(./imgs/2.png);
}

.kl {
  background-image: url(./imgs/3.png);
}

.kt {
  background-image: url(./imgs/4.png);
}

.nutag {
  background-size: cover;
  width: 276px;
  height: 370px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
  color: #fdfdfecc;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: uppercase;
  text-shadow: 0px 4px 5px #000000a6;
  align-items: center;
  justify-content: center;
}

/* GL */

.road {
  background-image: url(./imgs/Roadmap\ image.png);
  background-size: cover;
  width: 1440px;
  height: 1022px;
}

.text1 {
  padding-top: 120px;
}

.text1 h1 {
  font-family: "Inter";
  width: 1442px;
  height: 51px;
  font-size: 42px;
  text-align: center;
  vertical-align: bottom;
  letter-spacing: 1px;
  font-weight: 600;
}

.text1 p {
  padding-top: 10px;
  color: #18181bb2;
  font-size: 21px;
  text-align: center;
  vertical-align: bottom;
  text-transform: capitalize;
}

.destination {
  width: 513px;
  height: 112px;
  opacity: 1px;
  border-radius: 120px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  padding-left: 30px;
  display: flex;
}

.desticolor {
  background: #eee9d9;
  border: 4px solid #eee9d900;
}
.bulgan {
  background: #8bb8c1cc;
  border: 4px solid #8bb8c100;
}
.togoo {
  background: #aad8d7cc;
  border: 4px solid #aad8d700;
}
.nuur {
  background: #8bc0bdcc;
  border: 4px solid #8bc0bd00;
}
.khuvsgul {
  background: #97cce0cc;
  border: 4px solid #97cce000;
}

.destination__info p {
  font-family: "Montserrat" sans-serif;
  font-weight: 300;
  font-style: "Regular";
  font-size: 14px;
  line-height: 80%;
}
.destination__info h2 {
  font-family: "Inter";
  font-weight: 400;
  font-style: "Medium";
  font-size: 25px;
}

.destination:hover {
  border: 4px solid white;
}

.sukh_image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  top: 160px;
  right: 150px;
}

.khiid_image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  top: 70px;
  right: 300px;
}

.togoo_image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  top: 150px;
  right: 500px;
}

.lake_image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  top: 50px;
  right: 450px;
}
.nuur_image {
  height: 245px;
  width: 245px;
  display: none;
  position: absolute;
  top: 0px;
  right: 500px;
}
.destination:hover + .lake_image {
  display: block;
}
.destination:hover + .nuur_image {
  display: block;
}
.destination:hover + .togoo_image {
  display: block;
}

.destination:hover + .khiid_image {
  display: block;
}

.destination:hover + .sukh_image {
  display: block;
}

.destination__day {
  font-family: "GIP" sans-serif;
  font-style: normal;
  font-size: 14px;
  border-radius: 100%;
  background-color: white;
  text-align: center;
  width: 52px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination p {
  font-family: "Montserrat" sans-serif;
  font-weight: 100px;
  font-style: normal;
  font-size: 12px;
}

.destination__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.flex {
  display: flex;
  gap: 12px;
}

.gps {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 20px;
  position: relative;
}

.last {
  background-image: url(./imgs/Lastshit.png);
  background-size: cover;
  height: 1109px;
  width: 1440px;
}

.lheader {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 36px;
}

.lheader p {
  font-family: "Inter";
  font-weight: 400;
  font-style: "Medium";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  text-transform: capitalize;
  color: #18181bb2;
}

.lheader h1 {
  font-family: "Inter";
  font-weight: 600;
  font-style: "Semi Bold";
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 1%;
  text-align: center;
  vertical-align: bottom;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: 120px;
  padding-top: 80px;
}

.box {
  background-color: white;
  height: 527px;
  width: 384px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.box:hover {
  box-shadow: 8px 8px #29648b53, -8px -8px #3636365f;
}

.textheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.box:hover .button {
  background-color: black;
  color: white;
}

.popu {
  margin-right: 24px;
  width: 91px;
  height: 27px;
  color: white;
  background-color: #6972b5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.footertitle {
  display: flex;
  width: 384px;
  height: 92px;
  border-bottom: 1px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  gap: 16px;
}

.icon {
  width: 36px;
  height: 36px;
  gap: 10px;
}
.icon:hover {
  filter: brightness(90%);
}
.footertext {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 400;
  font-style: "Medium";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #121316;
}

.details {
  padding-left: 24px;
  padding-top: 12px;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 550;
  line-height: 100%;
}
.pricee {
  font-family: "Inter";
  font-weight: 500;
  font-style: "Medium";
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #919191;
}

.containers {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.containers1 {
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.containers1 h1 {
  font-family: "Inter";
  font-weight: 500;
  font-style: "Medium";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding-left: 40px;
}

.containers1 p {
  color: #5b5c5e;
  font-family: "Inter";
  font-weight: 500;
  font-style: "Medium";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.containers h1 {
  font-family: "Inter";
  font-weight: 500;
  font-style: "Medium";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding-left: 40px;
}

.containers p {
  color: #5b5c5e;
  font-family: "Inter";
  font-weight: 500;
  font-style: "Medium";
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 336px;
}

.button h1 {
  font-family: "Inter";
  font-weight: 600;
  font-style: "Semi Bold";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
}

.button {
  margin-top: 37px;
  margin-left: 24px;
  width: 336px;
  height: 48px;
  border-radius: 40px;
  background-color: #a4d1e2;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.doodoh {
  height: 389px;
  width: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.doosh {
  color: #6972b5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  vertical-align: bottom;
  background-color: white;
  width: 167px;
  height: 44px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  gap: 10px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  margin: 0px;
}

.deesh {
  width: 101px;
  height: 35px;
  margin-left: 730px;
}

.linkz {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 120px;
  padding-bottom: 80px;
}
